{% load staticfiles %} 

<head> 
 <title>Questions Details</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1"> 
 <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head> 

<body>
<div class="container">
<h1>Sign In</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'polls:index' %}" method="post"> 
{% csrf_token %}

Username:<br> 
<input type="text" name="first_name" id='first_name'> 
<br> 
Password:<br> 
<input type="password" name="pass" id='pass'>

<input type="submit" value="Submit" /> 
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<h4>If you dont have and acoount then Register <a href="{% url 'polls:register' %}">HERE</a> </h4>
</div>
</body>
